spacy==3.0.5
newspaper3k==0.2.8
transformers==4.4.2
nltk==3.5
pandas==1.2.3
seaborn==0.11.1
validators==0.18.2
torch==1.8.0
pytorch_pretrained_bert==0.5.1
sentence_transformers==1.0.2
matplotlib==3.3.4
numpy==1.20.1
requests==2.25.1
pygooglenews==0.1.2
summarizer==0.0.7
beautifulsoup4==4.9.3
scikit-learn==0.24.1
scipy==1.6.1
tokenizers==0.10.1
tqdm==4.59.0
gdown==3.12.2
Flask==1.1.2
Flask-Script==2.0.6
gunicorn==20.0.4
Werkzeug==1.0.1
emoji~=1.2.0
celery~=5.0.5
redis~=3.5.3
supervisor~=4.2.2
pyngrok~=5.0.5
pyfiglet~=0.8.post1