spacy==3.0.5
newspaper3k==0.2.8
transformers==4.4.2
nltk==3.5
pandas==1.2.3
seaborn==0.11.1
validators==0.18.2
torch==1.8.0
pytorch_pretrained_bert==0.5.1
sentence_transformers==1.0.2
matplotlib==3.3.4
numpy==1.20.1
requests==2.25.1
newspaper==0.1.0.7
pygooglenews==0.1.2
summarizer==0.0.7
en-core-web-sm==3.0.0
fever-scorer==0.0.0
beautifulsoup4==4.9.3
scikit-learn==0.24.1
scipy==1.6.1
tokenizers==0.10.1
tqdm=4.59.0
